<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.board.persistence.BoardMapper">

	<sql id="search">
		<trim prefix="(" suffix=") and " prefixOverrides="or">
	 		<foreach item="sel" collection="selArr">  
	 			<trim prefix="or">
					<choose>
						<when test="sel == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="sel == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="sel == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>		 		
	 		</foreach>
	 	</trim>
	</sql>

	<select id="getListWithPaging" resultType="com.board.domain.BoardVO">
		<![CDATA[  
		select bno, title, writer, reg 
		from 
			(select /*+ INDEX_DESC(springBoard pk_springBoard) */ 
		 	rownum r, bno, title, writer, reg 
		 	from springBoard 
		 	where  
		]]>

		 	<include refid="search"></include>
		 	
		<![CDATA[  	 
		 	rownum <= #{pageNum} * #{listQty} )
		 where r > (#{pageNum} - 1) * #{listQty}
		]]>
	</select>


</mapper>